*.vcxproj.user
*.aps
*.APS
*.opensdf
*.sdf
*.suo
LocMetrics*

EACRipper/Debug
EACRipper/Release
EACRipper/x64

UUIDGen/Debug
UUIDGen/Release
UUIDGen/x64

InoutWave/Debug
InoutWave/Release
InoutWave/x64

Debug
Release
x64
ipch